body {
    /* background: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%); */
    background:white;
    height: 100vh;

}

h2 {
    text-align: center; 
}

.left {
    background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
    position: fixed;
    width: 15vw; /* Adjust the width as needed */
    height: 100vh;
    padding: 20px;
    border: 1px solid #ccc;
    overflow-y: auto;
    font-size: small;
}

main {
    padding: 20px;
    margin-left: 15vw;
    width: 80vw;
}

main div {
    padding-bottom: 5px;
}

button {
    margin-right: 30px;
    cursor: pointer;
}

li {
    list-style-type: none;
    margin:0;
    margin-left: -30px;
    padding:0;
}

input {
    padding-right: 10px;
}

li:hover {
    font-weight: 500;
}

#myCheckbox {
    margin-right: 5px;
}

#jsonInput {
    width: 80vw;
    height: 80px;
}


#title {
    font-weight: 600;
    font-size: 1.2em;
    padding-top: 10px;
}

thead th {
    position: sticky;
    top: 0;
    z-index: 1;
}

#meta-info {
    /*height: 80px;*/
    height: 100%;
    
}

table {
    width: 75vw;
    border-collapse: collapse;
    table-layout: fixed;
    font-size: 0.8em;
}

td, th {
    word-wrap: break-word; 
}

table th:nth-child(5),
table td:nth-child(5) {
  width: 50%; 
}
table th:nth-child(6),
table td:nth-child(6) {
  width: 15%; 
}

table th:nth-child(3),
table td:nth-child(3),
table th:nth-child(4),
table td:nth-child(4) {
  width: 6%; 
}